.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.file-explorer-container {
  display: flex;
  gap: 20px; /* Adds space between the two FileExplorer components */
}

input[type="file"] {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

td {
  vertical-align: top;
}

h2 {
  margin-top: 20px;
  color: #333;
  font-size: 1.5em;
}

.custom-diff-container {
  margin-top: 20px !important;
  height: 500px !important;
  width: 100% !important;
  border: 1px solid #ccc !important;
  overflow: auto !important;
}

#acediff__wrap {
  position: relative;
  width: 100% !important;
  min-height: 100vh;
  
}

.acediff__wrap {
  width: 100% !important;
  height: 100% !important;
}


.file_viewer .ace_focus {
  border: 1px solid #000 !important;
}